    INSERT INTO updates(
    updateid, modified, updatetype, description, providerdescription,
    providertag)
    VALUES (71, '2014-02-12 13:55:08.969322+02','Initialize','Saving 8 and Deleting 0 line tables','SportRadar Pre-Match Update. DataSyncCacheId = 44450943','''');

    INSERT INTO competitor(
    competitorid, btrcompetitorid, updateid,
    externalstate)
    VALUES (614, 6593, 71, '<state xmlns="sr" />');

    INSERT INTO competitor(
    competitorid, btrcompetitorid, updateid,
    externalstate)
    VALUES (611, 6746, 71, '<state xmlns="sr" />');

    INSERT INTO matches(
    matchid, btrmatchid, startdate, expirydate, enddate, homecompetitorid,
    awaycompetitorid, updateid, code, active, islivebet, sourcetype,
    outright_type)
    VALUES (216642, 3978349, '2114-06-17 21:00:00+03', '2114-06-17 21:00:00+03', '2116-01-02 11:33:12+02', 614, 611, 71, 16642, 1, 0, 0, 0);

    INSERT INTO bet_type(tag, name) VALUES ('WIN', 'Who is Winer?');

    INSERT INTO score_type(tag, name) VALUES ('SCR', 'Score');

    INSERT INTO time_type(tag, name) VALUES ('FT', 'Whole match without overtime');

    INSERT INTO betdomain_type(
    tag, mapping_code, bet_type, score_type, time_type, sort,
    active, external_state)
    VALUES ('WINFT', 0, 'WIN', 'SCR', 'FT', 1,
    1, '<state xmlns="sr">
      <part>0</part>
      <subPart>0</subPart>
      <argsCount>0</argsCount>
      <ExternalSort>
        <f n="SPRT_HANDBALL">1</f>
        <f n="SPRT_SOCCER">0</f>
        <f n="SPRT_PESAPALLO">1</f>
        <f n="SPRT_ICE_HOCKEY">0</f>
        <f n="SPRT_RUGBY">1</f>
        <f n="SPRT_FUTSAL">1</f>
        <f n="SPRT_BANDY">1</f>
        <f n="SPRT_BASKETBALL">1</f>
        <f n="SPRT_FLOORBALL">1</f>
      </ExternalSort>
    </state>');

    INSERT INTO betdomain(
    betdomainid, btrlivebetid, matchid, status, updateid, bettag,
    betdomainnumber, nametag, sort, islivebet, ismanuallydisabled,
    specialoddvalue, specialoddvaluefull, result, extendedstate)
    VALUES (2314760, 0, 216642, 'Visible', 71, 'WINFT', 0, 'BASEBETDOMAIN_MST_SHORT', 9999, 0, 0, '','','','<state xmlns="sr">
      <mincomb>0</mincomb>
    </state>');

    INSERT INTO odd(
    outcomeid, oddid, betdomainid, value, nametag, sort, oddtag,
    active, ismanuallydisabled, updateid, islivebet, extendedstate)
    VALUES (6275615, 6275615, 2314760, 2.25, 'BD_TAG_0_2', 3, 'BD_TAG_0_2', 1, 0, 71, 0, '');

    INSERT INTO odd(
    outcomeid, oddid, betdomainid, value, nametag, sort, oddtag,
    active, ismanuallydisabled, updateid, islivebet, extendedstate)
    VALUES (6275616, 6275616, 2314760, 3.60, 'BD_TAG_0_X', 2, 'BD_TAG_0_X', 1, 0, 71, 0, '');

    INSERT INTO odd(
    outcomeid, oddid, betdomainid, value, nametag, sort, oddtag,
    active, ismanuallydisabled, updateid, islivebet, extendedstate)
    VALUES (6275617, 6275617, 2314760, 2.60, 'BD_TAG_0_1', 1, 'BD_TAG_0_1', 1, 0, 71, 0, '');

    INSERT INTO groups(
    groupid, svrgroupid, updateid, type, sort, active, externalstate)
    VALUES (2, 1, 71, 'group_sport', 1, 0, '<state xmlns="sr">
      <desc>SPRT_SOCCER</desc>
    </state>');

    INSERT INTO groups(
    groupid, svrgroupid, updateid, type, sort, active)
    VALUES (472, 22, 71, 'group_country', 0, 0);

    INSERT INTO groups(
    groupid, svrgroupid, updateid, type, sort, active)
    VALUES (417, 2, 71, 'group_category', 7, 0);

    INSERT INTO groups(
    groupid, parentgroupid, svrgroupid, updateid, type, sort, active,
    externalstate)
    VALUES (714, 417, 2019, 71,'group_tournament', 0, 0, '<state xmlns="sr">
      <sportId>2</sportId>
      <countryId>472</countryId>
      <mincomb>0</mincomb>
      <btrid>29</btrid>
    </state>');

INSERT INTO matchtogroup(
matchid, groupid, type, sort, updateid)
VALUES (216642, 2, 'group_sport', 0, 71);

INSERT INTO matchtogroup(
matchid, groupid, type, sort, updateid)
VALUES (216642, 472, 'group_country', 0, 71);

INSERT INTO matchtogroup(
matchid, groupid, type, sort, updateid)
VALUES (216642, 714, 'group_tournament', 0, 71);

INSERT INTO competitor(
competitorid, btrcompetitorid, updateid,
externalstate)
VALUES (50076, 126390, 71, '<state xmlns="sr" />');


INSERT INTO competitor(
competitorid, btrcompetitorid, updateid,
externalstate)
VALUES (50082, 126403, 71, '<state xmlns="sr" />');

INSERT INTO matches(
matchid, btrmatchid, startdate, expirydate, enddate, homecompetitorid,
awaycompetitorid, updateid, code, active, islivebet, sourcetype,
outright_type)
VALUES (242651, 5125492, '2114-06-17 21:00:00+03', '2114-06-17 21:00:00+03', '2116-01-02 11:33:12+02', 50076, 50082, 71, 42651, 1, 0, 0, 0);

INSERT INTO betdomain(
betdomainid, btrlivebetid, matchid, status, updateid, bettag,
betdomainnumber, nametag, sort, islivebet, ismanuallydisabled,
specialoddvalue, specialoddvaluefull, result, extendedstate)
VALUES (2368124, 0, 242651, 'Visible', 71, 'WINFT', 0, 'BASEBETDOMAIN_MST_SHORT', 9999, 0, 0, '','','','<state xmlns="sr">
  <mincomb>0</mincomb>
</state>');

INSERT INTO odd(
outcomeid, oddid, betdomainid, value, nametag, sort, oddtag,
active, ismanuallydisabled, updateid, islivebet, extendedstate)
VALUES (6502430, 6502430, 2368124, 2.5, 'BD_TAG_0_2', 3, 'BD_TAG_0_2', 1, 0, 71, 0, '');

INSERT INTO odd(
outcomeid, oddid, betdomainid, value, nametag, sort, oddtag,
active, ismanuallydisabled, updateid, islivebet, extendedstate)
VALUES (6502431, 6502431, 2368124, 3.4, 'BD_TAG_0_X', 2, 'BD_TAG_0_X', 1, 0, 71, 0, '');

INSERT INTO odd(
outcomeid, oddid, betdomainid, value, nametag, sort, oddtag,
active, ismanuallydisabled, updateid, islivebet, extendedstate)
VALUES (6502432, 6502432, 2368124, 1.65, 'BD_TAG_0_1', 1, 'BD_TAG_0_1', 1, 0, 71, 0, '');

INSERT INTO groups(
groupid, svrgroupid, updateid, type, sort, active, externalstate)
VALUES (4, 4, 71, 'group_sport', 4, 0, '<state xmlns="sr">
  <desc>SPRT_ICE_HOCKEY</desc>
</state>');

INSERT INTO groups(
groupid, svrgroupid, updateid, type, sort, active)
VALUES (511, 29, 71, 'group_country', 0, 0);

INSERT INTO groups(
groupid, svrgroupid, updateid, type, sort, active)
VALUES (518, 5, 71, 'group_category', 8, 0);

INSERT INTO groups(
groupid, parentgroupid, svrgroupid, updateid, type, sort, active,
externalstate)
VALUES (1016, 518, 2046, 71,'group_tournament', 0, 0, '<state xmlns="sr">
  <sportId>4</sportId>
  <countryId>511</countryId>
  <mincomb>0</mincomb>
  <btrid>5711</btrid>
</state>');

INSERT INTO matchtogroup(
matchid, groupid, type, sort, updateid)
VALUES (242651, 4, 'group_sport', 0, 71);

INSERT INTO matchtogroup(
matchid, groupid, type, sort, updateid)
VALUES (242651, 511, 'group_country', 0, 71);

INSERT INTO matchtogroup(
matchid, groupid, type, sort, updateid)
VALUES (242651, 1016, 'group_tournament', 0, 71);