<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
        name="NLoggerConfiguration"
        type="NLogger.Configuration.NLoggerConfigurationSection, NLogger"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>
  <appSettings>
    <add key="images_relative_path" value="\Images\" />
    <add key="betcenter_images_relative_path" value="\Images\Betcenter\"/>
    <add key="HIDE_MAIN_WINDOW_BORDER" value="false" />
    <add key="USE_SMOOTH_SCROLLING" value="false" />
    <add key="AUTOLOGOUT_DELAY" value="0" />
    <!-- sec. no less than 9. NB!! if value="0" then value from WebAdmin will be used instead-->
    <add key="LOCKOFFER_SYNC_INTERVAL" value="30"/>
    <!-- sec. -->
    <add key="STATIONPROPERTY_SYNC_INTERVAL" value="20"/>
    <!-- sec. -->
    <add key="LIVELINE_LOG" value="true"/>
    <add key="DISABLE_TRANSFER_TO_TERMINAL" value="false"/>
    <add key="disable_fullscreen" value="true"/>
    <add key="show_live_monitor" value="false"/>
    <add key="enable_check_time" value="Disabled" />
    <add key="disable_auto_restart" value="True" />
    <add key="database_dialect" value="PgSql" />
    <add key="database_connection_string" value="Server=localhost;Port=5432;Database=srbs_client_release_test;User ID=postgres;Password=cde34rfv_;" />
    <add key="database_name" value="srbs_client_release_test" />
    <add key="bet_domain_map" value="bet_domain_map.config" />
    <add key="database_schema_config" value="PgSrbsClient.config" />
    <add key="database_query_timeout" value="800" />
    <add key="VersionInfoFilename" value="version.txt" />
    <add key="CultureInfos" value="IT,it-IT;EN,en-US;FR,fr-fr;NL,nl-nl;DE,de-de;ZH,zh-cn;TR,tr-TR;SRL,sr-Latn-CS" />
    <add key="PrefFilePathAndName" value="Config\\PrefFile.txt" />
    <add key="UsePrinter" value="True" />
    <add key="TurnOffCashInInit" value="True" />
    <add key="AutoLogoutWindowLiveTimeInSec" value="3" />
    <add key="TicketNumberLength" value="13" />
    <add key="PaymentNoteLength" value="20" />
    <add key="CheckSumLength" value="4" />
    <add key="UseDefaultPrinter" value="True" />
    <add key="StoreTicketExpirationHours" value="24" />
    <add key="ShowBuildNumber" value="True" />
    <add key="LiveBetHost" value="tll1-betsw-dev4" />
    <add key="LiveBetRemoteSecureHostName" value="localhost" />
    <add key="LiveBetUseSSL" value="False" />
    <add key="disable_Async" value="1" />
    <add key="disable_views" value="1" />
    <add key="LiveBetPort" value="1980" />
    <add key="CreateDatabase" value="0" />
    <add key="console_logs" value="1" />
    <add key="UpdaterHUBAddress" value="http://tll1-betsw-dev4:8080" />
    <add key="CashLogFile" value="CashLogFile1.log" />
  </appSettings>


  <system.serviceModel>
    <client>
      <endpoint address="http://tll1-betsw-dev4:8080/BSMHub/services/BSMHubService" binding="wsHttpBinding" bindingConfiguration="BSMHubServiceSoapBinding" contract="WsdlServiceReference.IBSMHubService" name="StationConnectorPort" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="BSMHubServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:02:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="163840" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>