<map>
  <!-- Pre-Matches -->
  <!--<betDomainType discriminator="ThreeWayBaseBet"                            betDomainNumber="0"     isLiveBet="0"     betTag="WINFT"          betType="WIN"   scoreType="SCR"    part="0"    timeType="FT"/>-->
  <betDomainType discriminator="BaseBetDomain"                              betDomainNumber="0"     isLiveBet="0"     betTag="WINFT"          betType="WIN"   scoreType="SCR"    sort="0"     part="0"    timeType="FT"/>
  <betDomainType discriminator="BasketBallUnderOverBetDomain"               betDomainNumber="61"    isLiveBet="0"     betTag="TTLFT"          betType="TTL"   scoreType="SCR"    sort="1"     part="0"    subPart="-1"     argsCount="1"    timeType="FT"/>
  <betDomainType discriminator="UnderOverBetDomain"                         betDomainNumber="2"     isLiveBet="0"     betTag="TTLFT"          betType="TTL"   scoreType="SCR"    sort="2"     part="0"    subPart="-1"     argsCount="1"    timeType="FT"/>
  <betDomainType discriminator="BothTeamScoreBetDomain"                     betDomainNumber="28"    isLiveBet="0"     betTag="WSG2"           betType="OTH"   scoreType="SCR"    sort="3"     part="0"    timeType="GAM"/>
  <betDomainType discriminator="DoubleChanceBetDomain"                      betDomainNumber="13"    isLiveBet="0"     betTag="DCH"            betType="DBL"   scoreType="SCR"    sort="4"     part="0"    timeType="FT"/>
  <betDomainType discriminator="FirstHalfWinnerBetDomain"                   betDomainNumber="7"     isLiveBet="0"     betTag="WINP1"          betType="WIN"   scoreType="SCR"    sort="5"     part="0"    timeType="FT"/>
  <betDomainType discriminator="SecondHalfWinnerBetDomain"                  betDomainNumber="8"     isLiveBet="0"     betTag="WINP2"          betType="WIN"   scoreType="SCR"    sort="6"     part="0"    timeType="FT"/>
  <betDomainType discriminator="FirstScoreMinuteBetDomain"                  betDomainNumber="11"    isLiveBet="0"     betTag="RNGFT"          betType="RNG"   scoreType="SCR"    sort="7"     part="0"    timeType="FT"/>
  <!--- new -->
  <betDomainType discriminator="HalfTimeFullTimeWinnerBetDomain"            betDomainNumber="3"     isLiveBet="0"     betTag="EXPFT"          betType="EXP"   scoreType="SCR"    sort="8"     part="0"    timeType="FT"/>
  <!--- new -->
  <betDomainType discriminator="HandicapBetDomain"                          betDomainNumber="1"     isLiveBet="0"     betTag="HANGAM"         betType="HAN"   scoreType="SCR"    sort="9"     part="0"  argsCount="1" subPart="-1"    timeType="GAM"/>
  <betDomainType discriminator="HighScoreInHalfBetDomain"                   betDomainNumber="4"     isLiveBet="0"     betTag="HTPFT"          betType="HTP"   scoreType="SCR"    sort="10"    part="0"    timeType="FT"/>
  <!--- new -->
  <betDomainType discriminator="MatchScoreBetDomain"                        betDomainNumber="12"    isLiveBet="0"     betTag="EXAFT"          betType="EXA"   scoreType="SCR"    sort="11"    part="0"    timeType="FT"/>
  <betDomainType discriminator="OverTimeWinnerBetDomain"                    betDomainNumber="26"    isLiveBet="0"     betTag="WINOT"          betType="WIN"   scoreType="SCR"    sort="12"    part="-1"   timeType="OT"/>
  <betDomainType discriminator="ScoreHomeTeamBetDomain"                     betDomainNumber="9"     isLiveBet="0"     betTag="EXA1FT"         betType="EXA1"  scoreType="SCR"    sort="13"    part="0"    timeType="FT"/>
  <betDomainType discriminator="ScoreAwayTeamBetDomain"                     betDomainNumber="10"    isLiveBet="0"     betTag="EXA2FT"         betType="EXA2"  scoreType="SCR"    sort="14"    part="0"    timeType="FT"/>
  <betDomainType discriminator="ScoresFirstBetDomain"                       betDomainNumber="5"     isLiveBet="0"     betTag="SCR1FT"         betType="EXA"   scoreType="SCR1"   sort="15"    part="0"    timeType="FT"/>
  <betDomainType discriminator="ScoreSumBetDomain"                          betDomainNumber="6"     isLiveBet="0"     betTag="EXAXFT"         betType="EXAX"  scoreType="SCR"    sort="16"    part="0"    timeType="FT"/>
  <betDomainType discriminator="TennisResult2SetBetDomain"                  betDomainNumber="53"    isLiveBet="0"     betTag="EXAS3"          betType="EXA"   scoreType="GMS"    sort="17"    part="0"    timeType="FT"/>
  <betDomainType discriminator="TennisResult3SetBetDomain"                  betDomainNumber="54"    isLiveBet="0"     betTag="EXAS5"          betType="EXA"   scoreType="GMS"    sort="18"    part="0"    timeType="FT"/>
  <betDomainType discriminator="TennisSetResultBetDomain"                   betDomainNumber="52"    isLiveBet="0"     betTag="WINS1"          betType="WIN"   scoreType="GMS"    sort="19"    part="0"    timeType="S1"/>
  <betDomainType discriminator="PenaltyWinnerBetDomain"                     betDomainNumber="27"    isLiveBet="0"     betTag="WINAP"          betType="WIN"   scoreType="SCR"    sort="20"    part="0"    timeType="AP"/>
  <betDomainType discriminator="TotalSpreadsOvertimeBetDomain"              betDomainNumber="225"   isLiveBet="0"     betTag="TTLSPROT"       betType="TTL"   scoreType="SPRT"   sort="21"    part="0"    argsCount="1" subPart="-1"  timeType="OT"/>
  <betDomainType discriminator="PointsSpreads(overtime)"                    betDomainNumber="226"   isLiveBet="0"     betTag="TTLPTOT"        betType="TTL"   scoreType="SPRT"   sort="22"    part="0"    argsCount="1" subPart="-1"  timeType="OT"/>
  <betDomainType discriminator="GamesUnderOverBetDomain"                    betDomainNumber="227"   isLiveBet="0"     betTag="TTLGMGAM"       betType="TTL"   scoreType="GMSOT"  sort="23"    part="0"    argsCount="1" subPart="-1"  timeType="GAM"/>
  <betDomainType discriminator="PointsSpreadBetDomain"                      betDomainNumber="228"   isLiveBet="0"     betTag="TTLPTSPR"       betType="TTL"   scoreType="PTSPR"  sort="24"    part="0"    argsCount="1" subPart="-1"  timeType="GAM"/>
  <betDomainType discriminator="EuropeanHandicapBetDomain"                  betDomainNumber="229"   isLiveBet="0"     betTag="HANEP"          betType="HAN"   scoreType="SCR"    sort="25"    part="0"    argsCount="1" subPart="-1"  timeType="GAM"/>
  <betDomainType discriminator="DrawNoBetBetDomain"                         betDomainNumber="230"   isLiveBet="0"     betTag="DRAWNB"         betType="DRAW"  scoreType="SCR"    sort="26"    part="0"    argsCount="1" subPart="-1"  timeType="GAM"/>

  <!-- Pre-Match Outright Types -->
  <betDomainType discriminator="ChampionshipOutright"                       betDomainNumber="1030"  isLiveBet="0"     betTag="WINORSN"        betType="WIN"   scoreType="SCR"    sort="1"     part="0"    argsCount="1" subPart="-1"  timeType="ORSN"/>
  <betDomainType discriminator="MatchOutright"                              betDomainNumber="1040"  isLiveBet="0"     betTag="WINGAM"         betType="WIN"   scoreType="SCR"    sort="2"     part="0"    argsCount="1" subPart="-1"  timeType="GAM"/>
  <betDomainType discriminator="PodiumChampionshipOutright"                 betDomainNumber="1050"  isLiveBet="0"     betTag="PODORSN"        betType="POD"   scoreType="SCR"    sort="3"     part="0"    argsCount="1" subPart="-1"  timeType="ORSN"/>
  <!--vhc-->
  <betDomainType discriminator="racewinner"                 betDomainNumber="10000"  isLiveBet="1"     betTag="VHCWNR"        betType="WIN"   scoreType="SCR"    sort="1"     part="0"    argsCount="0" subPart="-1"  timeType="FT"/>
  <betDomainType discriminator="raceLaywinner"                 betDomainNumber="10002"  isLiveBet="1"     betTag="VHCWNRL"        betType="TTL"   scoreType="SCR"    sort="2"     part="0"    argsCount="0" subPart="-1"  timeType="FT"/>
  <betDomainType discriminator="raceplace"                 betDomainNumber="10003"  isLiveBet="1"     betTag="VHCPL"        betType="TTL"   scoreType="SCR"    sort="3"     part="0"    argsCount="1" subPart="-1"  timeType="FT"/>
  <betDomainType discriminator="racelayplace"                 betDomainNumber="10004"  isLiveBet="1"     betTag="VHCLPL"        betType="TTL"   scoreType="SCR"    sort="4"     part="0"    argsCount="1" subPart="-1"  timeType="FT"/>
  <betDomainType discriminator="straightforecast"                 betDomainNumber="10005"  isLiveBet="1"     betTag="VHCSF"        betType="TTL"   scoreType="SCR"    sort="5"     part="0"    argsCount="0" subPart="-1"  timeType="FT"/>
  <betDomainType discriminator="dualforecast"                 betDomainNumber="10006"  isLiveBet="1"     betTag="VHCDF"        betType="TTL"   scoreType="SCR"    sort="6"     part="0"    argsCount="0" subPart="-1"  timeType="FT"/>
  <betDomainType discriminator="dualtricast"                 betDomainNumber="10007"  isLiveBet="1"     betTag="VHCDT"        betType="TTL"   scoreType="SCR"    sort="7"     part="0"    argsCount="0" subPart="-1"  timeType="FT"/>

  <!-- Bet Types -->
  <betType tag="TTL" name="Total" />
  <betType tag="ATTL" name="Asian Total" />
  <betType tag="WIN" name="Who is Winer?" />
  <betType tag="OTH" name="Other" />
  <betType tag="ERR" name="Error" />
  <betType tag="EXA" name="Exact Score" />
  <betType tag="EXA1" name="Exact Goals for home team" />
  <!--- new -->
  <betType tag="EXA2" name="Exact Goals for away team" />
  <!--- new -->
  <betType tag="EXAX" name="Exact Goals sum for both teams" />
  <!--- new -->
  <betType tag="ODD" name="Odd/Even" />
  <betType tag="DBL" name="Double Chance" />
  <betType tag="HAN" name="Handicap" />
  <betType tag="AHAN" name="Asian Handicap" />
  <betType tag="NXG" name="Next Goal" />
  <betType tag="BLK" name="Block" />
  <betType tag="RNG" name="Selection of Ranges" />
  <!--- new -->
  <betType tag="EXP" name="Express other bets" />
  <!-- new -->
  <betType tag="HTP" name="Highest Total Score Part" />
  <betType tag="DRAW" name="Is Draw" />
  <betType tag="DRAWNB" name="Draw no Bet" />
  <betType tag="POD" name="Outright Podium finish – Bets on a competitor to finish in the top three in a competition" />
  <betType tag="WINRC" name="Which team wins race to X points" />
  <betType tag="WHOSCR" name="Who scores Xth point" />
  <betType tag="SNBR" name="Number of sets (best of 5)" />
  <betType tag="SETSLMT" name="How many sets will exceed score limit" />
  <!-- Score Types -->
  <scoreType tag="CON" name="Corners" />
  <scoreType tag="PNL" name="Penalty" />
  <scoreType tag="SCR" name="Score" />
  <scoreType tag="SET" name="Set" />
  <scoreType tag="YCR" name="Yellow cards" />
  <scoreType tag="RCR" name="Red cards" />
  <scoreType tag="SCR1" name="Who first to score" />
  <!--- new -->
  <scoreType tag="KCK1" name="Who first kick ball" />
  <!--- new -->
  <scoreType tag="GMS" name="Score by Games in set" />
  <scoreType tag="SPRT" name="Spread Time" />
  <scoreType tag="GMSOT" name="Games UnderOver" />
  <scoreType tag="PTSPR" name="Points Spread" />
  <!--- new -->
  <!-- Time Types -->
  <timeType tag="FTR" name="Full Time - Rest of Match" />
  <!--- new -->
  <timeType tag="HFT" name="Half Full Time" />
  <!--- new -->
  <timeType tag="FT" name="Whole match without overtime" />
  <timeType tag="GAM" name="Whole match with overtime" />
  <timeType tag="GAMOTAP" name="Whole match with overtime and penalties" />
  <timeType tag="OTR" name="Rest of Match Overtime" />
  <!--- new -->
  <timeType tag="OT" name="Overtime" />
  <timeType tag="P{0}R" name="Rest of Period {0}" generic="1,5"/>
  <!--- new -->
  <timeType tag="STGM" name="Tennis Set X Game Y (Two Params)" />
  <!--- new -->
  <timeType tag="GM" name="Game" />
  <timeType tag="TIM" name="Time" />
  <timeType tag="WO" name="Early Victory" />
  <timeType tag="AP" name="Penalty" />
  <timeType tag="P1" name="First Period"/>
  <timeType tag="P2" name="Second Period"/>
  <timeType tag="P3" name="Third Period"/>
  <timeType tag="P4" name="Fourth Period"/>
  <timeType tag="P5" name="Fifth Period"/>
  <timeType tag="P6" name="Sixs Period"/>
  <timeType tag="P7" name="Sevens Period"/>
  <timeType tag="P8" name="Eights Period"/>
  <timeType tag="Q1" name="First Quarter"/>
  <timeType tag="Q2" name="Second Quarter"/>
  <timeType tag="Q3" name="Third Quarter"/>
  <timeType tag="Q4" name="Fourth Quarter"/>
  <timeType tag="EXT" name="Extended Time" />
  <timeType tag="ORSN" name="Outright Season or Championship" />
  <!--<timeType tag="F{0}" name="Frame {0}" generic="1,100"/>-->
  <timeType tag="S1" name="First Set" />
  <timeType tag="S2" name="Second Set" />
  <timeType tag="S3" name="Third Set" />
  <timeType tag="S4" name="Fourth Set" />
  <timeType tag="S5" name="Fifth Set" />
  <timeType tag="H1" name="First Half" />
  <timeType tag="H2" name="Second Half" />
  <timeType tag="S1G{0:D2}" name="Set 1 Game {0:D2}" generic="1,30"/>
  <timeType tag="S2G{0:D2}" name="Set 2 Game {0:D2}" generic="1,30"/>
  <timeType tag="S3G{0:D2}" name="Set 3 Game {0:D2}" generic="1,30"/>
  <timeType tag="S4G{0:D2}" name="Set 4 Game {0:D2}" generic="1,30"/>
  <timeType tag="S5G{0:D2}" name="Set 5 Game {0:D2}" generic="1,30"/>
</map>