<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SportBetting.WPF.Prism.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section
        name="NLoggerConfiguration"
        type="NLogger.Configuration.NLoggerConfigurationSection, NLogger"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <appSettings>
    <add key="portKeyInRegistry" value="IdCardReaderPort" />
    <add key="logFileMaxSize" value="5" />
    <add key="images_relative_path" value="\Images\" />
    <add key="betcenter_images_relative_path" value="\Images\Betcenter\"/>
    <add key="HIDE_MAIN_WINDOW_BORDER" value="false" />
    <add key="USE_SMOOTH_SCROLLING" value="false" />
    <add key="AUTOLOGOUT_DELAY" value="15000" /> <!-- sec. no less than 9. NB!! if value="0" then value from WebAdmin will be used instead-->
    <add key="LOCKOFFER_SYNC_INTERVAL" value="30"/> <!-- sec. -->
    <add key="METAINFO_SYNC_INTERVAL" value="600"/> <!-- sec. -->
    <add key="STATIONPROPERTY_SYNC_INTERVAL" value="20"/> <!-- sec. -->
    <add key="LIVELINE_LOG" value="true"/>
    <add key="DISABLE_TRANSFER_TO_TERMINAL" value="false"/>
    <add key="disable_fullscreen" value="true"/>
    <add key="show_live_monitor" value="false"/>
    <add key="enable_check_time" value="Disabled" />
    <add key="disable_auto_restart" value="True" />
    <add key="database_dialect" value="PgSql" />
    <add key="database_connection_string" value="Server=localhost;Port=5432;Database=srbs_client_dev4_2_3;User ID=postgres;Password=cde34rfv_;timeout=1000;" />
    <add key="database_name" value="srbs_client_dev4_2_3" />
    <add key="bet_domain_map" value="bet_domain_map.config" />
    <add key="database_schema_config" value="DatabaseResources\PgSrbsClient.config" />
    <add key="database_query_timeout" value="800" />
    <add key="VersionInfoFilename" value="version.txt" />
    <add key="CultureInfos" value="IT,it-IT;EN,en-US;FR,fr-fr;NL,nl-nl;DE,de-de;ZH,zh-cn;TR,tr-TR;ES,es-ES;RU,ru-RU;SRL,sr-Latn-CS;RO,ro-RO;SR,sr-Cyrl-CS" />
    <add key="PrefFilePathAndName" value="Config\\PrefFile.txt" />
    <add key="UsePrinter" value="True" />
    <add key="TurnOffCashInInit" value="False" />
    <add key="AutoLogoutWindowLiveTimeInSec" value="15" />
    <add key="TicketNumberLength" value="13" />
    <add key="PaymentNoteLength" value="20" />
    <add key="CheckSumLength" value="4" />
    <add key="TaxNumberLength" value="16" />
    <add key="UseDefaultPrinter" value="True" />
    <add key="StoreTicketExpirationHours" value="24" />
    <add key="ShowBuildNumber" value="True" />
    <!--<add key="LiveBetHost" value="127.0.0.1" />-->
    <add key="LiveBetHost" value="213.35.151.244" />
    <!--<add key="LiveBetHost" value="10.11.16.115" />-->
    <add key="LiveBetRemoteSecureHostName" value="localhost" />
    <add key="liveMaxQueueSize" value="5" />
    <add key="LiveBetUseSSL" value="False" />
    <add key="LiveBetPort" value="18082" /> 
    <add key="VirtualLiveBetPort" value="1981" /> 
    <add key="UpdaterHUBAddress" value="http://tll1-betsw-dev5:8080xx" />
    <add key="CashLogFile" value=".\log\CashLogFile___.log" />
    <add key="logoFile" value="Images/tipp2win_Logo-pdf.jpg" />
    <add key="client" value="BSClient" />
    <add key="UseDatabaseForLiveMatches" value="0" />
    <add key="showTestInput" value="1" />
    <add key="activemq_url" value="failover:tcp://192.168.1.50:61616" />
    <add key="activemq_topic_name" value="topic://TERMINAL_EVENT_TOPIC" />
    <!--<add key="show_multistring_tags value="1" />-->
    <add key="landscape_mode" value="true"/>
    <add key="calibration_tool_path" value="C:\\Program Files (x86)\\MicroTouch\\MT 7\\TwUI.exe"/>
    <add key="touch_screen_assignment_tool_path" value="C:\\Program Files (x86)\\MicroTouch\\MT 7\\TwMMManagerTool.exe"/>
    <add key="tw_monitor_path" value="C:\\Program Files (x86)\\MicroTouch\\MT 7\\TwMonitor.exe"/>
    <add key="betradar_xml_files" value=".\"/>
    <add key="terms_version" value="1.0"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint
        behaviorConfiguration="devleapBehavior"
        address="http://213.35.151.244:18080/BSMHub/services/BSMHubService" binding="wsHttpBinding" bindingConfiguration="BSMHubServiceSoapBinding" contract="WsdlServiceReference.IBSMHubService" name="StationConnectorPort" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="BSMHubServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:02:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="163840" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="consoleOutputBehavior" type="WsdlRepository.ConsoleOutputBehaviorExtensionElement, WsdlRepository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="devleapBehavior">
          <consoleOutputBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!-- This section contains the log4net configuration settings -->
  
  <NLoggerConfiguration>
    <root>
      <level/>
    </root>
    <appender name="FileAppender" type="NLogger.Appenders.FileLoggerAppender, NLogger" parameters=".\\log\\SportBetting.log" >
      <level info="true" debug="true" fatal="true" error="true"/>
      <pattern value="%level %date - %message %exception"/>
      <file location=".\\log\\SportBetting.log" maxsize="30000" maxcount="9"/>
     
    </appender>

  </NLoggerConfiguration>
  
  <applicationSettings>
    <SportBetting.WPF.Prism.Properties.Settings>
      <setting name="RestartMaxTimeoutSec" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="RestartCount" serializeAs="String">
        <value>10</value>
      </setting>
    </SportBetting.WPF.Prism.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>