<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SportBetting.WPF.Prism.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SportBetting.WPF.Prism.Shared.Properties.Settings>
            <setting name="DA2_DRIVER_INF_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="DA2_DRIVER_DATE_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="DA2_DRIVER_VERSION" serializeAs="String">
                <value/>
            </setting>
            <setting name="ID_READER_DRIVER_INF_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="ID_READER_DRIVER_DATE_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="ID_READER_DRIVER_VERSION" serializeAs="String">
                <value/>
            </setting>
            <setting name="TOUCH_SCREEN_DRIVER_INF_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="TOUCH_SCREEN_DRIVER_DATE_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="TOUCH_SCREEN_DRIVER_VERSION" serializeAs="String">
                <value/>
            </setting>
            <setting name="PRINTER_DRIVER_INF_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="PRINTER_DRIVER_DATE_MODIFIED" serializeAs="String">
                <value>01/01/2013 00:00:00</value>
            </setting>
            <setting name="PRINTER_DRIVER_VERSION" serializeAs="String">
                <value/>
            </setting>
        </SportBetting.WPF.Prism.Shared.Properties.Settings>
    </userSettings>
</configuration>
