<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.6.0.3083" targetFramework="net45" />
  <package id="Apache.NMS.ActiveMQ" version="1.6.3" targetFramework="net45" />
  <package id="DdeNet" version="1.0.0" targetFramework="net45" />
  <package id="PostSharp" version="4.3.22" targetFramework="net45" />
</packages>